ty generated #
# =============== #
SocketServer/[Tt]emp/
SocketServer/[Oo]bj/
SocketServer/[Bb]uild
SocketServer/BuildNoBod/
SocketServer/ProfileBuild/
SocketServer/ProfileBuildNoBod/
SocketServer/[Ll]ibrary/
SocketServer/sysinfo.txt
SocketServer/blender.crash.txt
SocketServer/Assembly*
/SocketServer/Library/**
SocketServer/Library/*/*
SocketServer/Library/*/*/*
.vs
*/*.sln
*/*.app
**mongo_credentials.txt
**LogFile.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
**/*.userprefs
SocketServer/*.csproj
SocketServer/*.pidb
SocketServer/*.suo
SocketServer/*.sln*
SocketServer/*.user
SocketServer/*.unityproj
SocketServer/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
